.profile__pic {
    border-radius: 100px;
    height: 120px;
}

@media screen and (max-width:585px){
    .profile__pic {
    justify-self: center;
    }
}

@media screen and (max-width:500px){
    .header {
        overflow-x: visible;
        height: 56px;
        padding-top: 28px;
        width: 100%;
    }
    
    .header__logo {
        padding-left: 8px;
        height: 24px;
        width: 126px;
    }

    .elements {
        grid-template-columns: 1fr;
    }

    .element {
        margin: 0 auto;
    }
}

@media screen and (max-width:405px){
    .page {
        max-width: 100%;
    }
    
    .header__logo {
        padding-left: 27px;
    }

    .profile {
        max-width: 88%;
        margin: 0 auto;
    }

    .profile__name {
        font-size: 22px;
        line-height: 27px;
    }

    .profile__edit-button {
        padding: 30px 10px 0;
        margin-left: 0;
    }

    .profile__description {
        font-size: 14px;
        line-height: 17px;
    }

    .elements {
        max-width: 88%;
        margin: 0 auto;
    }

    .footer {
        max-width: 88%;
    }
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
        padding: 50px 0 36px;
    }
}